@charset 'utf-8';

// scss.scss

:root{ //의사 클래스로서 문서트리의 요소를 선택하는 선택자로서 html요소를 선택함을 뜻함
    //글자색
    --txt_bgcolor:#333;
    --border01: 3px solid #ac0000;
}


//항상위에만 작성해야함, 밑에 작성하면 인식못함

//변수에 색상값 저장
$color01: #f00;

h2{
    //rmfwktor color01변수값 적용
    color: $color01;
}

h3{}

p{
    color: var(--txt_bgcolor);
    border: var(--border01);
}